.music-card {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: #111;
  padding: 15px 20px;
  border-radius: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  box-shadow: 0 0 20px #0f0;
}

.music-card button {
  background: #0f0;
  border: none;
  padding: 10px;
  border-radius: 50%;
}
